{
  extends: "eslint:recommended",
  parserOptions: {
    ecmaVersion: 6
  },
  env: {
    node: true,
    commonjs: true
  },
  rules: {
    'indent': [2, 2, {'SwitchCase': 1, 'VariableDeclarator': 0}]
  }
}